<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <%= display_flash %>
  <ul>
    <% @files.each do |file| %>
      <li>
        <a href="data/<%= file %>"><%= file %></a>
      </li>
    <% end %>
  </ul>
</body>
</html>

