<% @title = "Index" %>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/data/<%= file %>"><%= file %></a>
      <a href="/data/<%= file %>/edit">Edit</a>
    </li>
  <% end %>
</ul>
<p><a href="/new_file">New File</a></p>
