<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @title || "CMS" %></title>
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
  <%= display_flash %>
  <%= yield %>
</body>
</html>
