<!doctype html>
<html>
<head>
</head>

<body>

  <div id="layout">

      <div id="main">
        <div class="pure-menu">
            <h1>Files</h1>
            <ul class="pure-menu-list">
              <% @list_of_files.each do |title| %>
                <li class="pure-menu-item">
                  <a href="/<%= title %>" class="pure-menu-link"><%= title %></a>
                </li>
              <% end %>
            </ul>

            <p>
              <% if params[:sort] == "desc" %>
                <a href="/">Sort ascending</a>
              <% else %>
                <a href="/?sort=desc">Sort descending</a>
              <% end %>
            </p>
            
          </div>
        </div>
      </div>
  </div>
</body>
</html>
